body {
  background-color: #f3f7f8;
}

.App {
  text-align: center;

  margin: 0 auto;
}

.container {
  width: 60%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, auto); */
  justify-content: space-between;
  gap: 40px;
}
